<!DOCTYPE html>
<html>
<head>
  <title>Movieapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="<%= ENV.fetch('FONTAWESOME', '') %>" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

</head>

<body>
<%= render "shared/notice" if flash[:notice] %>
<%= render "shared/alert" if flash[:alert] %>
<%  if user_signed_in? %>
  <main class="flex">
    <%= render "layouts/user_sidebar" %>
    <div class="mx-auto w-2/3 bg-blue-100" style="margin-left: 33vw; min-height: 100vh;">
      <%= yield %>
    </div>
  </main>
<% else %>
  <%= yield %>
<% end %>

</body>
</html>
